<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo" title="logo">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : site.logo}} alt="logo">
      </a>

    </div>

    <menu class="sidebar-menu">
      <li class="logoSpecial">
        <a title="googlePlay" href='https://play.google.com/store/apps/details?id=com.joba.readthaifun&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
          <img class="
          small-img" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' />
        </a>
        <a title="Get it on Apple Store" href='https://itunes.apple.com/us/app/read-thai-fun/id1390982225'>
          <img class="small-img" alt='Get it on Apple Store' src='/assets/img/logoApple.png' />
        </a>


      </li>

      <li class="menu-items">
        <a title="home" class="menu-links" href="{{site.baseurl}}/">Home</a>
      </li>
      <li class="menu-items">
        <a title="about" class="menu-links" href="{{site.baseurl}}/about/">About</a>
      </li>
      <li class="menu-items">
        <a title="contact" class="menu-links" href="{{site.baseurl}}/contact/">Contact</a>
      </li>
      <li class="menu-items">
        <a title="roadmap" class="menu-links" href="{{site.baseurl}}/roadmap/">Roadmap</a>
      </li>

    </menu>

    <div class="sidebar-social">
      <li class="social-items">
        <a title="facebook" href="https://www.facebook.com/{{site.facebook}}" class="social-links">
          <i class="social-icons fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li class="social-items">
        <a title="twitter" href="https://twitter.com/{{site.twitter}}" class="social-links">
          <i class="social-icons fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li class="social-items">
        <a title="instagram" href="https://www.instagram.com/{{site.instagram}}" class="social-links">
          <i class="social-icons fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
    </div>

  </div>
</aside>