---
layout: defaultodd
canonical: ok
permalink: "/appfeatures/"
---

<h1>App features</h1>
<h2>Click on a feature to see more details</h2>
<div class=featureContent>
    {% for feature in site.features %}
    <article class="main-article whiteBg half">
        <div class="wrap-content">
            <header class="header-article">
                <h2 class="title-article"><a class="feature-title" title="{{feature.title}}" href="{{feature.url | prepend: site.baseurl}}">{{feature.title}}</a></h2>
            </header>
            {% if feature.image %}
            <a title="{{feature.title}}" href="{{feature.url | prepend: site.baseurl}}"><img class="post-image" src={{ "/assets/img/" | prepend: site.baseurl
              | append: feature.image }}
                    alt="{{post.title}}"></a>
            {% endif %}
            <p>{{feature.description}}
        </div>
    </article>

    {% endfor %}
</div>